<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::body})}">
<head>
    <title th:text="${artist.nickname}">Artist Name</title>
</head>
<body>
<h1 class="mb-4" th:text="${artist.nickname}">Artist Name</h1>

<div class="card artist-info mb-4">
    <div class="card-body">
        <p><strong>Biography:</strong> <span th:text="${artist.biography}">Biography</span></p>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Song Name</th>
        <th>Year</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songs}">
        <td class="names">
            <a class="names" th:href="@{'/songs/show/' + ${song.id}}" th:text="${song.title}">Song Name</a>
        </td>
        <td th:text="${song.year}">Year</td>
        <td th:text="${song.genre}">Genre</td>
    </tr>
    </tbody>
</table>
<a href="/profile" class="btn play-button">Back to my profile</a>
</body>
</html>