<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(title=~{::title}, content=~{::body})}">
<head>
    <title>Artists List</title>
</head>
<body>
<div class="artists_body">
    <div class="container mt-4">
        <h1 class="mb-4">All Artists</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nickname</th>
                <th>Biography</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artist : ${artists}">
                <td class="names">
                    <a th:href="@{'/artists/show/' + ${artist.id}}"
                       th:text="${artist.nickname}">Song Name</a>
                </td>
                <td th:text="${artist.biography}">Biography</td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/profile" class="btn play-button">Back to my profile</a>
</div>
</body>
</html>