<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(title=~{::title}, content=~{::body})}">
<head>
    <title th:text="${playlist.name}">Playlist Page</title>
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4" th:text="${playlist.name}">Playlist Name</h1>

    <div class="card artist-info mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead class="yellow">
                <tr>
                    <th>Song Name</th>
                    <th>Artist</th>
                    <th>Year</th>
                    <th>Genre</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="song : ${playlist.songs}">
                    <td class="names">
                        <a th:href="@{'/songs/show/' + ${song.id}}"
                           th:text="${song.title}">Song Title</a>
                    </td>
                    <td class="names">
                        <a th:href="@{'/artists/show/' + ${song.artistId}}"
                           th:text="${song.artistName}">Artist Name</a>
                    </td>
                    <td th:text="${song.year}">Year</td>
                    <td th:text="${song.genre}">Genre</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center">
        <a th:href="@{'/users/show/' + ${playlist.userId} + '/playlists/show'}" class="btn play-button">All
            Playlists</a>
        <br>
        <a th:href="@{'/users/show/' + ${playlist.userId}}" class="btn play-button">Back to my profile</a>
    </div>
</div>
</body>
</html>