<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(title=~{::title}, content=~{::body})}">
<head>
    <title th:text="${songName}">Song Page</title>
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4" th:text="${songName}">SongName</h1>

    <div class="card song-info mb-4">
        <div class="card-body">
            <p class="names">
                <strong>Artist:</strong>
                <a th:href="@{'/artists/show/' + ${artistId}}"
                   th:text="${artist}">Artist Name</a>
            </p>
            <p>
                <strong>Year:</strong>
                <span th:text="${year}">Year</span>
            </p>
            <p class="mb-0">
                <strong>Genre:</strong>
                <span th:text="${genre}">Genre</span>
            </p>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <audio controls>
                    <source th:src="@{'/songs/play/' + ${id}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </td>
        </div>
    </div>
</div>
</body>
</html>