<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(title=~{::title}, content=~{::body})}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${song.getTitle()}">Song Page</title>
</head>
<body>

<div class="alert-container">
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <span th:text="${error}">Error message here</span>
    </div>
    <div th:if="${success}" class="alert alert-success" role="alert">
        <span th:text="${success}">Success message here</span>
    </div>
</div>


<div class="container mt-4">
    <h1 class="mb-4" th:text="${song.getTitle()}">Song Name</h1>
    <div class="card song-info mb-4">
        <div class="card-body">
            <p class="names">
                <strong>Artist:</strong>
                <a th:href="@{'/artists/' + ${song.getArtistId()}}"
                   th:text="${song.getArtistName()}">Artist Name</a>
            </p>
            <p>
                <strong>Year:</strong>
                <span th:text="${song.getYear()}">Year</span>
            </p>
            <p class="mb-0">
                <strong>Genre:</strong>
                <span th:text="${song.getGenre()}">Genre</span>
            </p>
            <div class="audio-player">
                <audio controls>
                    <source th:src="@{'/songs/' + ${id} + '/play'}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>

    <div class="mb-4" sec:authorize="hasRole('USER')">
        <div th:if="${playlists}">
            <div class="add-to-playlist">
                <form th:action="@{/playlists/add_song}" method="post">
                    <div class="form-group">
                        <label for="playlistSelect">Select Playlist:</label>
                        <select id="playlistSelect" name="playlistId" class="form-control">
                            <option th:each="playlist : ${playlists}"
                                    th:value="${playlist.id}"
                                    th:text="${playlist.name}">
                                Playlist Name
                            </option>
                        </select>
                    </div>
                    <input type="hidden" name="songId" th:value="${id}">
                    <button type="submit" class="btn btn-primary mt-2">Add to Playlist</button>
                </form>
            </div>
        </div>
        <a href="/profile" class="btn play-button">Back to my profile</a>
    </div>
</div>
</body>
</html>
